@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

:root {
  --color-gray: #d1d1d1;
  --color-green: #2e5a27;
  --color-yellow: #ead94c;
  --font-main: "Montserrat", serif;
}

.page-container {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#header {
  font-family: var(--font-main);
  font-size: 3rem;
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.cell-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  justify-content: center;
}

.cell-container {
  border-left: solid 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  font-size: 1.5rem;
}

.top-row {
  border-top: solid 2px black;
}

.middle-row {
  border-top: solid 2px black;
}

.bottom-row {
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}

.right-col {
  border-right: solid 2px black;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restart-container {
  display: flex;
  justify-content: center;
}

.text, .spot-taken {
  font-family: var(--font-main);
  font-size: 1rem;
}


.restart-button {
  border: none;
  background-color: var(--color-green);
  font-family: var(--font-main);
  color: whitesmoke;
  font-size: 1.5rem;
  border-radius: 10px;
  padding: 5px 20px;
}
